<div class="row">
    <div class="col-md-6 form-inline ">
        <div ng-class="{'ngNoMultiSelect': !multiSelect}">
            <div class=" clearfix">
                <pagination total-items="pager.pagingOptions.totalItems" ng-model="pager.pagingOptions.currentPage" ng-change="getPagedDataAsync()" items-per-page="pager.pagingOptions.pageSize" max-size="4" boundary-links="false" direction-links="true"></pagination>
            </div>
        </div>
    </div>
    <div class="col-md-6 form-inline">

        <div style="margin-right: 10px;" class="pull-right">
            <div ng-if="(pager.pagingOptions.totalItems/pager.pagingOptions.pageSize)>0">
                <div class="form-group pagination">
                    Page <b>{{pager.pagingOptions.currentPage}}</b> of <b>{{(pager.pagingOptions.totalItems/pager.pagingOptions.pageSize)|totalPages }}</b> for <strong>{{pager.pagingOptions.totalItems}}</strong> records. &nbsp;Show&nbsp;
                    <select style="" ng-model="pager.pagingOptions.pageSize" class="form-control" popover="Select a value to control how much data you wish to view" popover-trigger="mouseenter" popover-placement="top" ng-change="getPagedDataAsync()">
                        <option ng-repeat="size in pager.pagingOptions.pageSizes">{{size}}</option>
                    </select> per page.
                </div>
            </div>
            <div ng-if="(pager.pagingOptions.totalItems/pager.pagingOptions.pageSize)<=0">
                <div class="form-group pagination">
                    Page <b>{{pager.pagingOptions.currentPage}}</b> of <b>1</b> for <strong>{{pager.pagingOptions.totalItems}}</strong> records. &nbsp;Show&nbsp;
                    <select style="" ng-model="pager.pagingOptions.pageSize" class="form-control" popover="Select a value to control how much data you wish to view" popover-trigger="mouseenter" popover-placement="top" ng-change="getPagedDataAsync()">
                        <option ng-repeat="size in pager.pagingOptions.pageSizes">{{size}}</option>
                    </select> per page.
                </div>
            </div>
        </div>
    </div>
</div>