<div>
    <h3 class="no-margin-top">I Forgot My Password</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-show="forgotPassword.showForm">
                <div class="alert alert-info" role="alert">
                    <i class="fa fa-info-circle fa-lg"></i>&nbsp; Enter your email address and we will send you a link to reset your password.</div>
                <form class="form-horizontal"
                name="forgotPasswordForm" role="form" ng-submit="forgotPasswordForm.$valid && forgotPassword.requestNewPassword()" novalidate>
                    <div class="form-group" ng-class="{'has-error': forgotPasswordForm.email.$invalid && (forgotPasswordForm.email.$touched || forgotPasswordForm.$submitted)}">
                        <label for="inputEmail" class="col-sm-3 control-label">Email Address</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" ng-model="forgotPassword.forgotPasswordCredentials.email" class="form-control" id="inputEmail"
                            required>
                            <span ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$touched || forgotPasswordForm.$submitted"
                            class="help-block">
                                <div ng-message="required">You forgot to enter your email address</div>
                                <div ng-message="email">Please enter a valid email address.</div>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" request-spinner>
                        <i class="fa fa-envelope-o"></i>&nbsp; Request Password Reset</button>
                </form>
            </div>
            <div ng-hide="forgotPassword.showForm">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-check fa-lg"></i>&nbsp; An email has been sent to you. Follow the link in the email to finish resetting your password.</div>
            </div>
        </div>
    </div>
    <button class="btn btn-link pull-right" ui-sref="home">Back to home</button>
</div>