<div>
    <h3 class="no-margin-top">Password Reset</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal" name="resetPasswordForm" role="form" ng-submit="resetPasswordForm.$valid && activateAccount.resetPasswordCredentials.password == activateAccount.resetPasswordCredentials.confirmPassword && activateAccount.resetPassword() "
            novalidate>
                <div class="form-group" ng-class="{'has-error': resetPasswordForm.Password.$invalid && (resetPasswordForm.Password.$touched || resetPasswordForm.$submitted)}">
                    <label for="Password" class="col-sm-3 control-label">New Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="Password" ng-model="activateAccount.resetPasswordCredentials.password" class="form-control"
                        id="Password" required>
                        <span ng-messages="resetPasswordForm.Password.$error" ng-if="resetPasswordForm.Password.$touched || resetPasswordForm.$submitted"
                        class="help-block">
                            <div ng-message="required">You forgot to enter a new password</div>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': resetPasswordForm.ConfirmPassword.$invalid && (resetPasswordForm.ConfirmPassword.$touched || resetPasswordForm.$submitted)}">
                    <label for="inputEmail" class="col-sm-3 control-label">Confirm New Password</label>
                    <div class="col-sm-9">
                        <input type="password" name="ConfirmPassword" ng-model="activateAccount.resetPasswordCredentials.confirmPassword" class="form-control"
                        id="ConfirmPassword" required>
                        <span ng-messages="resetPasswordForm.ConfirmPassword.$error" ng-if="resetPasswordForm.ConfirmPassword.$touched || resetPasswordForm.$submitted"
                        class="help-block">
                            <div ng-message="required">You forgot to confirm your new password</div>
                        </span>
                    </div>
                </div>
                <div class="form-group has-error" ng-show="resetPasswordForm.Password.$touched && resetPasswordForm.ConfirmPassword.$touched && activateAccount.resetPasswordCredentials.password != activateAccount.resetPasswordCredentials.confirmPassword">
                    <div class="col-sm-9 col-sm-offset-3 help-block">The passwords do not match.</div>
                </div>
                <button type="submit" class="btn btn-primary pull-right" request-spinner>
                    <i class="fa fa-check"></i>&nbsp; Reset My Password</button>
            </form>
        </div>
    </div>
        <button class="btn btn-link pull-right" ui-sref="home">Back to home</button>
</div>